{% load staticfiles %}
<html>
  <head>
    <title>Departments</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static "base.css" %}" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div id="wrap">
    <!-- Begin page content -->
    <div class="container depts">
      <div class="page-header">
        <h1>Departments using gus</h1>
      </div>
      {% block content %}{% endblock %}
    </div> <!-- wrap -->
    </body>
</html>
