{% extends "gus_depts/base.html" %}
{% block content %}
<p class="lead">{{ dept.full_name }} ({{dept.abbreviation}})</p>
<dl class="dl-vertical">
  {% if dept.server_uri %}
    <dt>Server uri: </dt>
    <dd><a href="{{dept.server_uri}}">{{dept.server_uri}}</a></dd>
  {% endif %}  
  {% if dept.web_url %}
    <dt>Web url: </dt>
    <dd><a href="{{dept.web_url}}">{{dept.web_url}}</a></dd>
  {% endif %}
</dl>
  <div style="text-align:right">
      <a href="/">back to listings</a>
  </div>
{% endblock %}
