{% extends "gus_depts/base.html" %}

{% block content %}
{% if latest_depts_list %}

    <table class="table table-striped table-hover">

    {% for dept in latest_depts_list %}
        <tr class="{% cycle 'active' 'success' %}">
          <td class="col-xs-5">
            <a href="{% url 'gus_depts:detail' dept.id %}">{{ dept.full_name }}</a>
          </td>
          <td class="col-xs-4">
            {{dept.server_uri}}
          </td>
          <td class="col-xs-3">
            <a href="{% url 'gus_depts:detail' dept.id %}">{{ dept.abbreviation }}</a>
          </td>
        </tr>
    {% endfor %}

  </table>

{% else %}

    <p>No dept are available.</p>

{% endif %}
{% endblock %}
